/* To be used in conjunction with the image-carousel.js library */
div.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

div.carousel-content {
    --carousel-img-width: 10vh;
    --carousel-img-gap: 3rem;
    --carousel-img-ratio: calc(1 / 1);
    --carousel-btn-width: calc(var(--carousel-img-width) / 4);
    display: flex;
    align-items: center;
    gap: 1em;
    width: 80%;
}

div div.carousel {
    width: calc(
        (var(--carousel-img-width) + var(--carousel-img-gap)) * 5 -
            var(--carousel-img-gap)
    );
    display: inline-block;
    overflow: hidden;
}

div.wide-container {
    display: flex;
    justify-content: space-between;
    gap: var(--carousel-img-gap);
    position: relative;
    right: 0px; /* requires specification for first slide animation */
    transition: 0.5s;
}

div.hdata {
    min-width: 10%;
    justify-content: center;
    overflow: visible;
}

img.carousel {
    width: var(--carousel-img-width);
}

div.hdata p {
    white-space: nowrap;
    text-align: center;
    margin-left: -100%;
    margin-right: -100%;
}

img.carousel-btn {
    cursor: pointer;
    width: var(--carousel-btn-width);
    padding: calc(
            (
                    (var(--carousel-img-width) / var(--carousel-img-ratio)) -
                        (var(--carousel-img-width) / 10)
                ) / 2
        )
        0;

    &&:hover {
        background-color: rgba(128, 128, 128, 0.2);
    }
}

div.carousel-nav {
    display: flex;
    gap: 1vh;
}

span.nav-dot {
    height: 1vh;
    width: 1vh;
    background-color: #bebebec4;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;

    &&:hover {
        background-color: rgb(129, 129, 129);
    }
}

.nav-dot.selected {
    background-color: rgb(129, 129, 129);
    transform: scale(1.5);
}
