@import "./t-normalize.css";

body {
    background-color: lightskyblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: fit-content;
    min-width: 500px;
    margin: 0 auto;
    color: white;
}

/* #region Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem calc(1rem + 40px) 2rem 1rem;
}

span.left,
span.right {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #0000007a;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
}

span.left {
    position: relative;
    right: 52px;
}

button,
.search input {
    background-color: #0000007a;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: white;

    &&:hover {
        background-color: #000000ad;
    }
}

/* #region Units Toggle */
.unit {
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: 34px;
    gap: 16px;
}

.unit input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000007a;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #000000ad;
}

input:focus + .slider {
    box-shadow: 0 0 1px #008cff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* #endregion Units Toggle */
/* #endregion Header */

/* #region Content */
div.content {
    display: flex;
    flex-direction: column;
    background-color: #0000007a;
    border-radius: 1rem;
    padding: 2rem;
}

div.current {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 0.5rem;
}

h2,
h3 {
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    margin: 1rem 0 1.5rem;
}

h1#temp {
    font-size: 5rem;
    grid-row: span 3;
    margin: -1.5rem 0;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
}

div.current > div > span:first-child {
    font-weight: 200;
}
/* #endregion Content */
